# Usage: pip install -r requirements.txt

# Base ----------------------------------------
numpy>=1.18.5
opencv-python>=4.1.1
ultralytics
setuptools>=58.0.0

# Extra ---------------------------------------
# pycocotools>=2.0  # COCO mAP
# roboflow